<%- include("header") -%>
<div class="widget">
            
      <div class="left-panel panel">
          
          <div class="city">
              <%= place %>
          </div>
          <div class="temp">
            <img src=<%= iconurl %> alt="weathericon" width="60">
            <%= temp %>&deg;
          </div>
      </div>
      <div class="right-panel panel">
        <img src="https://s5.postimg.cc/lifnombwz/mumbai1.png" alt="" width="160">
    </div>

</div>

<!-- motivational quote -->

<blockquote class="blockquote"><p><%= quote %></p><span class="author">- <%= author %></span></blockquote>
  
</blockquote>



  <div class="box" id="heading">
    <h1> To Do: <%= listTitle %> </h1>
  </div>

  

  <div class="box big-box">
    <% newListItems.forEach(function(item){ %>
        <form action="/delete" method="post">
            <div class="item">
              <input type="checkbox" name="checkbox" value="<%= item._id %>" onchange="this.form.submit()">
              <p><%=  item.name  %></p>
            </div>
            <input type="hidden" name="listName" value="<%= listTitle %>">
        </form>

    <% }) %>
      <form class="item entry" action="/" method="post">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
        <button type="submit" class="roundbutton" name="list" value="<%= listTitle %>">+</button>
      </form>
      <form action="/logout" method="get">
        <button type="submit" class="logout">Logout</button>
      </form>
  </div>


    


<%- include("footer") -%>
